.container {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 24px;
    border-radius: 2px;
    border: solid 1px #ececec;
}

.container input {
    width: calc(100% - 24px);
    padding: 0 12px;
    height: 100%;
    border: none;
    font-size: 11px;
    color: #404040;
}